/*-----------------*/
/*MOBILE*/
/*-----------------*/

/*base*/
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

* {
    box-sizing: border-box;
    
}

:root {
    --noel-rojo: #C41E3A;
    --noel-verde: #146B3A;
    --nieve-blanco: #F0F0F0;
    --azul-noel: #1C2833;
    --texto-primario: #333333;
    font-size: 16px;
  }


body {
    font-family: 'Mountains of Christmas';
    line-height: 1.6;
    font-size: 1rem;
    background-color: var(--nieve-blanco);
    color: var(--texto-primario);
}

nav {
    display: none;

}

h1{
    color: var(--noel-rojo);
    font-size: 2.5rem;
}

h2{
    color: var(--noel-rojo);;
    font-size: 1.8rem;

}

h3{
    color: var(--noel-rojo);;
    font-size: 1.6rem;

}

h4{
    color: var(--noel-verde)
}

h5{
    color: var(--noel-rojo);;
    font-size: 1.4rem;
}

p {
    font-size: 1.15rem;
}

section{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

button {
    padding: 0.5rem 1rem;
    color: var(--nieve-blanco);
    border: none;
    border-radius: 7px;
    font-size: 0.9rem;
    background-color: var(--noel-verde);
    cursor: pointer;
    font-family: 'Mountains of Christmas'; 


  }
  
  button:hover {
    background-color: var(--noel-rojo);
  }

/*header*/


/*home*/
#home{
    justify-items: center;
    padding-top: 11rem;
    padding-bottom: 12.3rem;
}

.home-title{
    margin-bottom: 0rem;
    grid-column: 1 / -1;
}

.home-subtitle{
    grid-column: 1 / -1;
}

.home-button{
    font-weight:600;
    padding-left: 2rem;
    padding-right: 2rem;
    grid-column: 1 / -1;

}

/*pnoel*/

.pnoel-title{
    margin-bottom: 0;
    grid-column: 1 / -1;
}

.pnoel-img{
    margin-top: 1rem;
    width: 100%;
    grid-column: 1 / -1;

}

.pnoel-description{
    grid-column: 1 / -1;
    margin-top: 0.4rem;

}

.pnoel-subtitle{
    margin-bottom: 0;
}

.pnoel-div-description{
    grid-column: 1/-1
}
/*cartas*/



.cartas-title{
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
}

.cartas-container{
    display: flex;
    flex-direction: column;
}
.carta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: var(--noel-verde);
    padding: 1rem 1.3rem;
    border-radius: 7px;
    border-style:double;
    border-width:3px;
    border-color:  var(--noel-verde);
    background-color: gainsboro;
    margin-top: 1rem;
}

.carta-title{
    grid-column: 1/5;
    margin-bottom: 0.4rem;
    margin-top: 0;
    font-size: 1.15rem;
}

.carta-img{
    grid-column: 1/2;
    width: 100%;
    margin-top:0.2rem;
}

.carta-div{
    grid-column: 2/5;
    margin-bottom: 0;
    margin-left: 0.6rem;
}

.carta-div p{
    font-size: 0.85rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 900;
}

/*enviar*/

#enviar{
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}
.enviar-container{
    display: flex;
    flex-direction: column;
}

.enviar-title{
    margin: 0 0 ;
}

.caja-title{
    margin-top: 0.4rem;
    margin-bottom: 0rem;
}


.text{
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
    width: 100%;
    border: 2px solid var(--azul-noel);
}

.boton-enviar{
    margin-top: 0.5rem;
    font-weight: 600;
}

/*jugar*/

#jugar{
    margin-bottom: 5rem;
}
.juegos-boton{
    font-weight: 600;
}
.juega-container{
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.juegos div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.juego-img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    width: 100%;
    border: 1px solid
}

/*footer*/

.break-footer{
    border: none;
    border-top: 2px solid var(--azul-noel);
    width: 85%;
}
.footer{
  
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    margin-bottom: 3rem;
}

.footer-first-div{
    grid-column: 1/-1;
}

.footer-logo-div{
    grid-column: 1/-1;
}
.logo-footer{
    width: 15%;
}

.redes-footer{
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.enlaces-footer{
    grid-column: 1/-1;
}

.img-footer{
    width: 10%;
    margin: 0 0.4rem 0 0.4rem;
}

.enlaces-footer h4{
    margin-bottom: 0.2rem;
}
.enlaces{
    display: grid;
    grid-template-columns: 1fr;
}
.enlaces a{
    margin-bottom: 0.2rem;
    font-weight: 600;
}

/*-----------------*/
/*TABLET*/
/*-----------------*/
@media screen and (min-width: 600px) {
    :root {
        font-size: 18px;
    }


    section{
        grid-template-columns: repeat(8,1fr);

       
    }


    /*home*/
    nav {
        display:grid;
        grid-template-columns: repeat(12,1fr);
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1rem;
        font-weight: 800;
        /* border-radius: 7px;
        border-style:double;
        border-width:3px;
        border-color:  var(--noel-verde); */
        
    }

    .logo{
        max-width:4rem;
        margin-right: 1.8rem;
        grid-column: 1/2;
    }
    

    .nav-links{
        grid-column: 2/10;
        justify-self:start;
        display: flex;
        flex-grow: 1;
        list-style-type: none;
        padding-left: 0;

    }
    
    .sign-log{
        grid-column: 10/13;
        justify-content:center;
        display: flex;
        flex-wrap: wrap;
        gap:5px

    }
    .nav-links a{
        text-decoration: none;
        color: var(--azul-noel);
        margin-right: 25px;

    }
    .nav-links a:hover{
        color: var(--noel-rojo);
    }
    #home{
        padding-bottom: 11rem;

    }

    .home-title{
        margin-bottom: 0rem;
        grid-column: 1 / -1;
    }

    .home-subtitle{
        grid-column: 1 / -1;
    }

    .home-button{
        font-weight:600;
        padding-left: 2rem;
        padding-right: 2rem;
        grid-column: 1 / -1;

    }

    /*cartas*/

    .cartas-title{
        grid-column: 1 / -1;
        
    }

    .carta{
        max-width: 45%;
        
    }
    
    .cartas-container{
        grid-column: 1 / -1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /*enviar*/
    .enviar-title{
        grid-column: 1 / -1;

    }

    .caja-texto{
        padding: 1rem;
        padding-left: 0.4rem;

        width: 25%;
    }

    .caja-carta{
        padding: 1rem;
        padding-left: 0.4rem;
        width: 100%;

    }
    
    .text{
        padding: 0.6rem 1rem;
        width: 100%;
    }

    

    .enviar-container{
        grid-column: 1 / -1;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:space-evenly;

    }

    .boton-enviar{
        width: 30%;
        margin-top: 0.5rem;
        }

    /*Juega*/
    .juega-title{
        grid-column: 1 / -1;
    }

    .juega-container{
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .juegos{
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr;
    }

    .juegos div{
        display: block;
    
    }

    .juegos-boton{
        display: block;
        width: 75%;
        margin-bottom: 0.5rem;
    }

    
    .juegos-juego{
        grid-column: 3/7;
        width: 100%;
        padding-right: 2.5rem;


        
    }

    .juego-img{
         margin-left: 2.5rem;
         width: 100%;
         margin-top: 0;
    }

    

    /*footer*/

    .break-footer{
     
        width: 100%;
    }
    .footer{
        grid-template-columns: repeat(6,1fr);
        justify-items: start;
        text-align: left;
        margin-top: 35px;

    }
    .footer-first-div{
        margin-left: 3rem;
        grid-column: 1/3;
    }

    .enlaces-footer{
        grid-column: 3/7;
    }
    .enlaces-footer h4{
        margin-top:0
    }
    .logo-footer{
       
       width: 15%;
    }

    .redes-footer{
        justify-content: start;
        flex-wrap: wrap;
    }
    .img-footer{
        width: 12%;
        margin: 0 0rem 0 0.1rem;
    }
   
}

/*-----------------*/
/*PC*/
/*-----------------*/

@media screen and (min-width: 768px){
    :root {
        font-size: 20px;
      }
    #home{
        padding-top: 4.6rem;
        padding-bottom: 4.6rem;

    }

    section{
        display: grid;
        grid-template-columns: repeat(12,1fr);

    }
    
    #pnoel{
        gap:2rem;
        padding-bottom: 4.6rem;
        padding-top: 4.6rem;
    }

    .pnoel-img{
        margin-top: 1rem;
        width: 100%;
        grid-column: 1 / 7;
    
    }
    
   
    .pnoel-div-description{
        grid-column: 7/13
    }


    #cartas{
        padding-top: 4.6rem;

        padding-bottom: 4.6rem;
    
    }

    .carta{
        max-width: 30%;
        
    }

}
